* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







/*   font family 'ubuntu'   */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* font family 'STIX Two Text' */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --ubuntu: "Ubuntu", sans-serif;
    --stix: "STIX Two Text", serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0);
}





/* ===-started styles of header section-=== */
header {
    width: 100%;
    height: 74px;
    background-color: #161721;
}

header ul {
    display: flex;
    width: auto;
    height: auto;
    padding-top: 20px;
    background-color: rgba(0, 128, 0, 0);
}

header ul li {
    list-style: none;
    margin-left: 76px;
    color: #C6C6C7;
    font-family: var(--ubuntu);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.13px;
}

header ul li .fa-location-dot {
    width: 11px;
    height: 15px;
    margin-right: 8px;
    cursor: pointer;
}

header ul li .fa-envelope {
    width: 15px;
    height: 12px;
    margin-right: 8px;
    cursor: pointer;
}

header ul li .fa-phone {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    cursor: pointer;
}

/* ===/-ended styles of header section-=== */





/* ===-started styles of intro section-=== */
.intro {
    width: 100%;
    height: auto;
    margin-top: 0;
    background-color: #171720;
}

.intro .intro_coverage {
    width: 100%;
    height: 980px;
    background-image: url(./images/home_introFoto\ \(2\).png);
    background-repeat: no-repeat;
    padding-top: 24px;
}


.intro nav {
    width: 1280px;
    height: 74px;
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.intro nav a img {
    width: 90px;
    height: 24px;
    background-color: rgba(255, 0, 0, 0);
}

.intro nav ul {
    width: 680px;
    height: 65px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 71px;
}

.intro nav ul li {
    list-style-type: none;
}

.intro nav ul li a {
    text-decoration: none;
    font-family: var(--stix);
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: #161722;
    background-color: rgba(255, 0, 0, 0);
}


.intro nav .btn-contact {
    width: 170px;
    height: 65px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.intro nav .btn-contact {
    font-family: var(--stix);
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}

.intro .intro_coverage-text {
    width: 880px;
    height: 490px;
    margin-left: 128px;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 190px;
}


.intro_coverage-text h1 {
    width: 880px;
    font-family: var(--stix);
    font-size: 75px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    color: #FFFFFF;
}


.intro_coverage-text .txt {
    width: 600px;
    font-family: var(--ubuntu);
    font-size: 24px;
    font-weight: 400;
    line-height: 39.07px;
    text-align: left;
    color: #FFFFFF;
}


.intro_coverage-text .intro_coverage-btns {
    width: 490px;
    height: 70px;
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro_coverage-btns .intro_coverage-btn1 {
    width: 200px;
    height: 70px;
    background-color: #000000;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.intro_coverage-btns .intro_coverage-btn1 p {
    font-family: var(--stix);
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #FFFFFF;
}


.intro_coverage-btns .intro_coverage-btn2 {
    width: 177px;
    height: 30px;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.intro_coverage-btns .intro_coverage-btn2 p {
    text-decoration: underline;
    font-family: var(--ubuntu);
    font-size: 20px;
    font-weight: 400;
    line-height: 34.47px;
    color: #FFFFFF;
}

.intro_coverage-btns .intro_coverage-btn2 .fa-arrow-trend-up {
    margin-left: 6px;
}
/* ===/-ended styles of intro section-=== */







/* ===-started styles of main section-=== */
main{
    width: 100%;
    height: auto;
    background-color:#161721;
}

main .main-infos{
    width: 100%;
    height:140px;
    background-color: rgba(126, 252, 0, 0);
    display: flex;
    justify-content:space-evenly;
    padding-top:18px;
}


main .main-infos .main-infos_item{
    width:160px;
    height:auto;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main .main-infos .main-infos_item h1{
    font-family:var(--stix);
    font-size:50px;
    font-weight: 400;
    line-height:70px;
    color:#FFFFFF;
    text-align: center;
}

main .main-infos .main-infos_item p{
    font-family:var(--ubuntu);
    font-size:12px;
    font-weight: 400;
    line-height: 20px;
    color: #C6C6C7;    
    text-align: center;
}


main .main_links{
    width: 1300px;
    height: 400px;
    background-color:rgba(0, 255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main .main_links .main_links-h1{
    width:520px;
    height: auto;
    background-color: #44ddd300;
    display: flex;
    justify-content: space-between;
    margin-left: 152px;
}

main .main_links .main_links-h1 h2 a{
    font-family:var(--stix);
    font-size:50px;
    font-weight: 400;
    line-height: 112.5px;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
main .main_links .main_links-h1 h2{
    color: #FFFFFF;
}


main .main_links .main-links_txt{
    font-family:var(--ubuntu);
    font-size:24px;
    font-weight: 400;
    line-height: 39.07px; 
    color: #C6C6C7;
    margin-left: 152px;
    width: 740px;
}

main .main_links .main-links_btn{
    width: 300px;
    height: 70px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    margin-left: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
main .main_links .main-links_btn p{
    font-family:var(--stix);
    font-size:18px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #161722;
}


.main-service{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top:120px;
}


.main-service h2{
    font-family: var(--stix);
    font-size:70px;
    font-weight: 400;
    line-height: 112.5px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 152px;
}


.main-service .main-service_box{
    width: 100%;
    height: 360px;
    margin-bottom: 60px;
    padding-left: 152px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
}

.main-service .main-service_box img{
     width: 300px;
     height: 313px;
}



.service-border{
    width:80%;
    margin-left: 152px;
    margin-bottom: 76px;
    border-bottom: 1px solid #707070;
}

.service-box{
    width: 400px;
    height: 100%;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.service-box h3{
    font-family:var(--ubuntu);
    font-size:32px;
    font-weight: 400;
    line-height: 51.71px;
    text-align: left;
    color: #FFFFFF;
}

.service-box p{
    font-family:var(--ubuntu);
    font-size:26px;
    font-weight: 300;
    line-height: 39.07px;
    text-align: left;
    color: #C6C6C7;
}

.service-box a{
    text-decoration: none;
    font-family: var(--ubuntu);
    font-size:20px;
    font-weight: 400;
    line-height: 34.47px;
    text-align: left;
    color: #FFFFFF;
}

/* ===/-ended styles of main section-=== */










